In [1]:
#pandas
import numpy as np
import pandas as pd

In [2]:
df=pd.Series([1.0,2.4,5.6,7.4,5.3,2.0,7.0])

In [3]:
df

0    1.0
1    2.4
2    5.6
3    7.4
4    5.3
5    2.0
6    7.0
dtype: float64

In [4]:
type(df)

pandas.core.series.Series

In [5]:
df.shape

(7,)

In [6]:
df.head()# display first n observation default=5

0    1.0
1    2.4
2    5.6
3    7.4
4    5.3
dtype: float64

In [7]:
df.tail()# display last n observation default=5

2    5.6
3    7.4
4    5.3
5    2.0
6    7.0
dtype: float64

In [8]:
#Panda Dataframe-using numpy dataset
np.arange(0,20).reshape(5,4)

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15],
       [16, 17, 18, 19]])

In [9]:
data=np.arange(0,20).reshape(5,4)
df=pd.DataFrame(data,index=["row1","row2","row3","row4","row5"],columns=["column1","column2","column3","column4"])

In [11]:
df

      column1  column2  column3  column4
row1        0        1        2        3
row2        4        5        6        7
row3        8        9       10       11
row4       12       13       14       15
row5       16       17       18       19

In [12]:
type(df)

pandas.core.frame.DataFrame

In [13]:
df.head(2)

      column1  column2  column3  column4
row1        0        1        2        3
row2        4        5        6        7

In [14]:
df.tail(2)

      column1  column2  column3  column4
row4       12       13       14       15
row5       16       17       18       19

In [15]:
#Accessing a row
df.loc['row1']

column1    0
column2    1
column3    2
column4    3
Name: row1, dtype: int32

In [16]:
type(df.loc['row1'])

pandas.core.series.Series

In [17]:
df

      column1  column2  column3  column4
row1        0        1        2        3
row2        4        5        6        7
row3        8        9       10       11
row4       12       13       14       15
row5       16       17       18       19

In [18]:
#df.iloc[strt:end,start:end]
df.iloc[2:,2:]

      column3  column4
row3       10       11
row4       14       15
row5       18       19

In [19]:
df.loc[['row1','row2']]

      column1  column2  column3  column4
row1        0        1        2        3
row2        4        5        6        7

In [20]:
df['column1']

row1     0
row2     4
row3     8
row4    12
row5    16
Name: column1, dtype: int32

In [21]:
df[['column1','column2']]

      column1  column2
row1        0        1
row2        4        5
row3        8        9
row4       12       13
row5       16       17

In [22]:
#pandas dataframe - using Dict
data={"weight":[30,40,50,60],
       "height":[133,146,158,170]}
df=pd.DataFrame(data)
df

   weight  height
0      30     133
1      40     146
2      50     158
3      60     170

In [23]:
#Pandas Dataframe - using CSV
pd.read

AttributeError: module 'pandas' has no attribute 'read'