In [58]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler

In [59]:
data=pd.read_csv(r"C:\Users\ROHEN\OneDrive\Desktop\documents\AI\supervised_learning\logistic_regression_multiclass\winequality.csv",sep=";")
#sep";" for ; seperated csv

In [60]:
data.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6

In [61]:
data.isnull().sum()

fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
dtype: int64

In [62]:
corrDF=data.corr()
corrDF

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
fixed acidity,1.000000,-0.022697,0.289181,0.089021,0.023086,-0.049396,0.091070,0.265331,-0.425858,-0.017143,-0.120881,-0.113663
volatile acidity,-0.022697,1.000000,-0.149472,0.064286,0.070512,-0.097012,0.089261,0.027114,-0.031915,-0.035728,0.067718,-0.194723
citric acid,0.289181,-0.149472,1.000000,0.094212,0.114364,0.094077,0.121131,0.149503,-0.163748,0.062331,-0.075729,-0.009209
residual sugar,0.089021,0.064286,0.094212,1.000000,0.088685,0.299098,0.401439,0.838966,-0.194133,-0.026664,-0.450631,-0.097577
chlorides,0.023086,0.070512,0.114364,0.088685,1.000000,0.101392,0.198910,0.257211,-0.090439,0.016763,-0.360189,-0.209934
free sulfur dioxide,-0.049396,-0.097012,0.094077,0.299098,0.101392,1.000000,0.615501,0.294210,-0.000618,0.059217,-0.250104,0.008158
total sulfur dioxide,0.091070,0.089261,0.121131,0.401439,0.198910,0.615501,1.000000,0.529881,0.002321,0.134562,-0.448892,-0.174737
density,0.265331,0.027114,0.149503,0.838966,0.257211,0.294210,0.529881,1.000000,-0.093591,0.074493,-0.780138,-0.307123
pH,-0.425858,-0.031915,-0.163748,-0.194133,-0.090439,-0.000618,0.002321,-0.093591,1.000000,0.155951,0.121432,0.099427
sulphates,-0.017143,-0.035728,0.062331,-0.026664,0.016763,0.059217,0.134562,0.074493,0.155951,1.000000,-0.017433,0.053678
alcohol,-0.120881,0.067718,-0.075729,-0.450631,-0.360189,-0.250104,-0.448892,-0.780138,0.121432,-0.017433,1.000000,0.435575
quality,-0.113663,-0.194723,-0.009209,-0.097577,-0.209934,0.008158,-0.174737,-0.307123,0.099427,0.053678,0.435575,1.000000

In [63]:
corrColumns=abs(corrDF['quality']).sort_values(ascending=False)
corrColumns

quality                 1.000000
alcohol                 0.435575
density                 0.307123
chlorides               0.209934
volatile acidity        0.194723
total sulfur dioxide    0.174737
fixed acidity           0.113663
pH                      0.099427
residual sugar          0.097577
sulphates               0.053678
citric acid             0.009209
free sulfur dioxide     0.008158
Name: quality, dtype: float64

In [64]:
Finalcolumns=corrColumns[corrColumns>0.1].index
Finalcolumns

Index(['quality', 'alcohol', 'density', 'chlorides', 'volatile acidity',
       'total sulfur dioxide', 'fixed acidity'],
      dtype='object')

In [65]:
finalData = data[Finalcolumns]
finalData

,quality,alcohol,density,chlorides,volatile acidity,total sulfur dioxide,fixed acidity
0,6,8.8,1.00100,0.045,0.27,170.0,7.0
1,6,9.5,0.99400,0.049,0.30,132.0,6.3
2,6,10.1,0.99510,0.050,0.28,97.0,8.1
3,6,9.9,0.99560,0.058,0.23,186.0,7.2
4,6,9.9,0.99560,0.058,0.23,186.0,7.2
...,...,...,...,...,...,...,...
4893,6,11.2,0.99114,0.039,0.21,92.0,6.2
4894,5,9.6,0.99490,0.047,0.32,168.0,6.6
4895,6,9.4,0.99254,0.041,0.24,111.0,6.5
4896,7,12.8,0.98869,0.022,0.29,110.0,5.5
4897,6,11.8,0.98941,0.020,0.21,98.0,6.0

In [66]:
X = finalData.drop(["quality"],axis=1)
X

,alcohol,density,chlorides,volatile acidity,total sulfur dioxide,fixed acidity
0,8.8,1.00100,0.045,0.27,170.0,7.0
1,9.5,0.99400,0.049,0.30,132.0,6.3
2,10.1,0.99510,0.050,0.28,97.0,8.1
3,9.9,0.99560,0.058,0.23,186.0,7.2
4,9.9,0.99560,0.058,0.23,186.0,7.2
...,...,...,...,...,...,...
4893,11.2,0.99114,0.039,0.21,92.0,6.2
4894,9.6,0.99490,0.047,0.32,168.0,6.6
4895,9.4,0.99254,0.041,0.24,111.0,6.5
4896,12.8,0.98869,0.022,0.29,110.0,5.5
4897,11.8,0.98941,0.020,0.21,98.0,6.0

In [67]:
y = finalData["quality"]
pd.DataFrame(y)

      quality
0           6
1           6
2           6
3           6
4           6
...       ...
4893        6
4894        5
4895        6
4896        7
4897        6

[4898 rows x 1 columns]

In [68]:
y.unique()

array([6, 5, 7, 8, 4, 3, 9], dtype=int64)

In [69]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test= train_test_split(X,y,test_size=0.3,random_state=50)

In [70]:
# X_train.head()

In [71]:
# X_test.head()

In [72]:
# y_train.head()

In [73]:
# y_test.head()

In [74]:

# sc = StandardScaler()
# X_train=pd.DataFrame(sc.fit_transform(X_train),columns=X_train.columns)
# X_test=pd.DataFrame(sc.transform(X_test),columns=X_test.columns)

In [75]:
# model=LogisticRegression()

In [76]:
# model.fit(X_train,y_train)

In [77]:
# model.predict(X_test)

In [78]:
# model.score(X_train,y_train)

In [79]:
# model.score(X_test,y_test)

In [109]:
from sklearn.tree import DecisionTreeClassifier
df_classifier = DecisionTreeClassifier(criterion="entropy",max_depth=3)    #changing from gini to entropy
df_classifier.fit(X_train,y_train)
y_pred = df_classifier.predict(X_test)
trainAccuracy = df_classifier.score(X_train,y_train)
testAccuracy =df_classifier.score(X_test,y_test)
print(f"Train Accuarcy : {trainAccuracy}")
print(f"Test Accuarcy : {testAccuracy}")
# from sklearn.tree import plot_tree
# plt.figure(figsize=(15,10))
# plot_tree(df_classifier,filled=True)

Train Accuarcy : 0.5186697782963827
Test Accuarcy : 0.5312925170068027