In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
from sklearn.linear_model import LinearRegression
import warnings
warnings.filterwarnings('ignore', category=FutureWarning)
warnings.filterwarnings('ignore')

In [5]:
df = pd.read_csv(r"C:\Users\ROHEN\OneDrive\Desktop\documents\AI\supervised_learning\linear_regression_multivariate\homeprices (1).csv")

In [6]:
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [7]:
df["bedrooms"].fillna(df["bedrooms"].median(),inplace=True)

In [8]:
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [9]:
x_df=df.drop(["price"],axis=1)

In [11]:
y_df=df["price"]
y_df

0    550000
1    565000
2    610000
3    595000
4    760000
5    810000
Name: price, dtype: int64

In [12]:
lr=LinearRegression()
lr.fit(x_df,y_df)

LinearRegression()

In [13]:
lr.coef_

array([  112.06244194, 23388.88007794, -3231.71790863])

In [14]:
lr.intercept_

221323.00186540408

In [25]:
lr.predict([[4000,4,10]])

array([730811.11085937])

In [16]:
#backend working
#(112.06244194*area) + (23388.88007794*bedroom) - (3231.71790863*age) + (221323.00186540408)
(112.06244194*4000) + (23388.88007794*4) - (3231.71790863*1) + (221323.00186540408)

759896.572028534