

![Statistics](https://www.totalassignmenthelp.com/blog/wp-content/uploads/2021/02/descriptive-and-inferential-statistics-01.jpg)


![Statistics](https://datatab.net/assets/tutorial/inferenz_deskriptiv_en.png)

#### Super Market Sales Dataset

##### Attribute information
* Invoice id: Computer generated sales slip invoice identification number
* Branch: Branch of supercenter (3 branches are available identified by A, B and C).
* City: Location of supercenters
* Customer type: Type of customers, recorded by Members for customers using member card and Normal for without member card.
* Gender: Gender type of customer
* Product line: General item categorization groups - Electronic accessories, Fashion accessories, Food and beverages, Health and beauty, Home and lifestyle, Sports and travel
* Unit price: Price of each product in $
* Quantity: Number of products purchased by customer
* Tax: 5% tax fee for customer buying
* Total: Total price including tax
* Date: Date of purchase (Record available from January 2019 to March 2019)
* Time: Purchase time (10am to 9pm)
* Payment: Payment used by customer for purchase (3 methods are available â€“ Cash, Credit card and Ewallet)
* COGS: Cost of goods sold
* Gross margin percentage: Gross margin percentage
* Gross income: Gross income
* Rating: Customer stratification rating on their overall shopping experience (On a scale of 1 to 10)

In [1]:
import pandas as pd
data = pd.read_csv(r"C:\Users\dell pc\Desktop\data\supermarket_sales.csv")
data

FileNotFoundError: [Errno 2] No such file or directory: 'C:\\Users\\dell pc\\Desktop\\data\\supermarket_sales.csv'

#### Usecases

* Total number of customers?
* Most visited branch?
* City vs customer analysis?
* Customer ratio based on customer type?
* Most sold product line? general analysis
* Costiest product in the shop?
* Total gross income?
* Total gross income per branch?
* Payment type analysis?
* rush hours?
* Total Margin?
* Total % of margin?
* convert the gross income into rupees for every invoice ID?

In [ ]:
data.dtypes # Data Types

In [ ]:
data.head()

In [ ]:
data.tail()

In [ ]:
#To calculate the mean of Gross Income
avg = data["gross income"].mean()
avg

In [ ]:
#To calculate the median of Gross Income
median = data['gross income'].median()
median

In [ ]:
# To calculate the mode of Gender
modes = data['Gender'].mode()
modes

In [ ]:
# To calculate the mode of Gender
data['Gender'].unique()

In [ ]:
data['Gender'].value_counts()

In [ ]:
#standard deviation
data['gross income'].std()

In [ ]:
#Total gross income ?
totalIncome = data['gross income'].sum()
print("Total Gross Income: ",totalIncome)

In [ ]:
 # which is the most commonly used payment type ?
paymentType = data['Payment'].mode()[0]
print('Most commonly used payment type is :',paymentType)

In [ ]:
# what is the average unit price of the products ?
averageVal = data['Unit price'].mean()
print('Average Unit Price of Products : ',averageVal)

In [ ]:
# what is the total number of sales ? (unique number of invoice id)
sales = data.shape[0]
print("Total number of sales: ",sales)

# data['Invoice ID'].nunique()
# data['Invoice ID'].count()
# data['Invoice ID'].shape[0]
# data['Invoice ID'].size

In [ ]:
#what is average gross income per sales
averageIncome = data['gross income'].mean()
print('Average Gross Income:',averageIncome)

In [ ]:
#what is the standard deviation of product unit price ?
paymentTypeSTD = data['Unit price'].std()
print('Standard Deviation of Unit Price:',paymentTypeSTD)

In [ ]:
#what is the total number of sales? (unique number of invoice id)
sales =  data.describe(include='O').loc['unique','Invoice ID']
print("Total number of sales: ",sales)

In [ ]:
data.describe(include='O')

In [ ]:
#unique and nunique
# What are the different types of Product Line ? 
data['Product line'].unique()

In [ ]:
#How many customer classes are there ?
data['Customer type'].nunique()

#### Problem Statement 2

In [ ]:
import pandas as pd
data = pd.read_csv("data/adult.csv")

In [ ]:
data

In [ ]:
data.columns

In [ ]:
data.shape

In [ ]:
data.dtypes

In [ ]:
data.describe()

In [ ]:
data.describe(include='O')

In [ ]:
data.isnull().sum()

In [ ]:
# Average hours per week 
data['hours-per-week'].mean()

In [ ]:
# Average hours per week for male and female
data.groupby('gender')['hours-per-week'].mean()

In [ ]:
# Average hours per week for both gender for each working class
data['workclass'].nunique()
data['workclass'].unique()

In [ ]:
data['workclass'].nunique() * data['gender'].nunique() #I have to do 18 filters

In [ ]:
data.groupby(['workclass','gender'])['hours-per-week'].mean()

In [ ]:
# Average hours per week for race ,gender with respect to each working class
data['workclass'].nunique() * data['gender'].nunique() * data['race'].nunique()

In [ ]:
# Set the Pandas Display rows to 100 rows 
pd.set_option('display.max_rows', 100)

In [ ]:
data.groupby(['workclass','race','gender'])['hours-per-week'].mean()

In [ ]:
# Average age and hours per week for race ,gender with respect to each working class
data.groupby(['workclass','race','gender'])['age','hours-per-week'].mean()

In [ ]:
output_df = data.groupby(['race','gender'])['age','hours-per-week'].mean()

In [ ]:
output_df

#### Write a DataFrame into a file

In [ ]:
type(output_df)

In [ ]:
#saving dataframe into CSV 

output_df.to_csv("output/GroupedOutput.csv") #saving as csv file

In [ ]:
#saving dataframe into excel (xlsx)

output_df.to_excel("output/GroupedOutput.xlsx") #saving as excel file

#### Pandas Merging, Joining, and Concatenating

A Data frame is a two-dimensional data structure, i.e., data is aligned in a tabular fashion in rows and columns.

We can join, merge, and concat dataframe using different methods. 

In Dataframe df.merge(),df.join(), and df.concat() methods help in joining, merging and concating different dataframe.

!['Pandas'](https://miro.medium.com/max/700/1*3bL8ihJmwShib8Xj90X4Pw.png)

#### Merging

Pandas provides various built-in functions for easily combining datasets. 

Among them, merge() is a high-performance in-memory operation very similar to relational databases like SQL. 

You can use merge() any time when you want to do database-like join operations.


We can go through some examples of combining datasets using Pandas merge() function. 

We will cover the following common usages and should help you get started with data combinations.

* The simplest call without any key column
* Specifying key columns using on
* Merging using left_on and right_on
* Various forms of joins: inner, left, right and outer
* Using validate to avoid invalid records

#### 1. Without any key column
When you use merge(), the simplest call must have two arguments: the left DataFrame and the right DataFrame. 

For example, to combine df_customer and df_info:

In [ ]:
df_customer = pd.DataFrame({
    'id': [1, 2, 3, 4],
    'name': ['Tom', 'Jenny', 'James', 'Dan'],
})
df_info = pd.DataFrame({
    'id': [2, 3, 4, 5],
    'age': [31, 20, 40, 70],
    'sex': ['F', 'M', 'M', 'F']
})

pd.merge(df_customer, df_info)

In [ ]:
df_customer

In [ ]:
df_info

![Image](https://miro.medium.com/max/1400/1*H60kVHfgvZVZODkFTZksvw.png)

By default, the function will combine data on common columns (It is the column id in our example) and produces only the result that matches in both left and right DataFrames.

The following is an equivalent statement if you prefer to call merge from the left DataFrame.

In [ ]:
df_customer.merge(df_info)

#### 2. Specifying key columns using argument on

You can specify the common columns for merging. 

To do so, pass an additional argument on as the name of the common column, here 'id' in our example, to merge() function:

In [ ]:
pd.merge(df_customer, df_info, on='id')

![Image](https://miro.medium.com/max/1400/1*ZCpo3gXuXI4KFhKivEt2ZA.png)

If you use on , you have to make sure the column you specify must be present in both left and right DataFrames.

In [ ]:
df_order = pd.DataFrame({
    'id': [2,3,4,5],
    'name': ['Jenny', 'James', 'Dan', 'leo'],
    'quantity': [2,4,6,10]
})
df_order

In [ ]:
df_customer

In [ ]:
pd.merge(df_customer,df_order)

In [ ]:
pd.merge(df_customer,df_order,on="id")

In [ ]:
pd.merge(df_customer, df_order, on=['name'])

In [ ]:
# To combine data on multiple common columns, you can pass a list toon:

# with multiple key columns
df_order = pd.DataFrame({
    'id': [2,3,4,5],
    'name': ['Jenny', 'James', 'Dan', 'leo'],
    'quantity': [2,4,6,10]
})

pd.merge(df_customer, df_order, on=['id', 'name'])

#### 3. Merging using left_on and right_on

It might happen that the column on which you want to merge the DataFrames have different names. For such merges, you will have to specify the left_on as the left DataFrame name and right_on as the right DataFrame name, for example:

In [ ]:
df_info_2 = pd.DataFrame({
    'customer_id': [2,3,4,5],
    'age': [31,20,40,70],
    'sex': ['F', 'M', 'M', 'F']
})
df_info_2

In [ ]:
df_customer

In [ ]:
df_info_2 = pd.DataFrame({
    'customer_id': [2,3,4,5],
    'age': [31,20,40,70],
    'sex': ['F', 'M', 'M', 'F']
})

pd.merge(
  df_customer, 
  df_info_2, 
  left_on='id', 
  right_on='customer_id'
)

![Image](https://miro.medium.com/max/1400/1*Ii-_LUrEKNqDULeDZ_4kdg.png)

The result will contain both id and customer_id columns.

#### 4. Various type of joins: inner, left, right and outer

They are 4 types of joins available to Pandas merge() function. 
The logic behind these joins is very much the same that you have in SQL when you join tables. You can perform a type of join by specifying the how argument with the following values:
* inner: the default join type in Pandas merge() function and it produces records that have matching values in both DataFrames
* left: produces all records from the left DataFrame and the matched records from the right DataFrame
* right: produces all records from the right DataFrame and the matched records from the left DataFrame
* outer: produces all records when there is a match in either left or right DataFrame

![Image](https://miro.medium.com/max/1400/1*3bL8ihJmwShib8Xj90X4Pw.png)

In [ ]:
df_customer = pd.DataFrame({
    'id': [1,2,3,4],
    'name': ['Tom', 'Jenny', 'James', 'Dan'],
})
df_info = pd.DataFrame({
    'id': [2,3,4,5],
    'age': [31,20,40,70],
    'sex': ['F', 'M', 'M', 'F']
})
pd.merge(df_customer, df_info, on='id', how=?)

![Image](https://miro.medium.com/max/1400/1*xd2B575qzZWi8FlzgrESpw.png)

#### 4.1 inner join

By default, Pandas merge() is performing the inner join and it produces only the set of records that match in both DataFrame.

In [ ]:
pd.merge(df_customer, df_info, on='id')

![Image](https://miro.medium.com/max/1400/1*rZf-aphE-o8Naqc_2ywB6A.png)

And below is the equivalent SQL query:

SELECT * from customer
INNER JOIN info
ON customer.id = info.id

In [ ]:
# To explicitly specify the inner join, you can set the argument how='inner'

pd.merge(df_customer, df_info, how='inner', on='id')

#### 4.2 left join

The left join produces all records from the left DataFrame, and the matched records from the right DataFrame. If there is no match, the left side will contain NaN. You can set the argument how='left' to do left join:

In [ ]:
pd.merge(df_customer, df_info, how='left', on='id')

![Image](https://miro.medium.com/max/1400/1*8zT68RD5jO-SybZye6Y2Fw.png)

And below is the equivalent SQL query:
    
SELECT * from customer
LEFT OUTER JOIN info
ON customer.id = info.id

#### 4.3 Right join

The right join produces all records from the right DataFrame, and the matched records from the left DataFrame. If there is no match, the right side will contain NaN. You can set the argument how='right' to do right join:

In [ ]:
pd.merge(df_customer, df_info, how='right', on='id')

![Image](https://miro.medium.com/max/1400/1*-kckqogCjVfYAvrawDSWFg.png)

And below is the equivalent SQL query:

SELECT * from customer
RIGHT OUTER JOIN info
ON customer.id = info.id

#### 4.4 outer join

The outer join produces all records when there is a match in either left or right DataFrame. NaN will be filled for no match on either sides. You can set the argument how='outer' to do outer join:

In [ ]:
pd.merge(df_customer, df_info, how='outer', on='id')

![Image](https://miro.medium.com/max/1400/1*HPLSsnORsg910cwhkiM_YQ.png)

And below is the equivalent SQL query:
    
SELECT * from customer
FULL OUTER JOIN info
ON customer.id = info.id

### Additional Parameters

#### Indicator flag

In [ ]:
df1 = pd.DataFrame({
    "city": ["new york","chicago","orlando", "baltimore"],
    "temperature": [21,14,35, 38],
})
df1

In [ ]:
df2 = pd.DataFrame({
    "city": ["chicago","new york","san diego"],
    "humidity": [65,68,71],
})
df2

In [ ]:
data = pd.merge(df1,df2,on='city',how='outer',indicator=True)

In [ ]:
data.dtypes

#### Suffixes

In [ ]:
df1 = pd.DataFrame({
    "city": ["new york","chicago","orlando", "baltimore"],
    "temperature": [21,14,35,38],
    "humidity": [65,68,71, 75]
})
df1

In [ ]:
df2 = pd.DataFrame({
    "city": ["chicago","new york","san diego"],
    "temperature": [21,14,35],
    "humidity": [65,68,71]
})
df2

In [ ]:
pd.merge(df1,df2,on='city',how="outer",suffixes=('_x', '_y'))

In [ ]:
pd.merge(df1,df2,on='city',how="outer", suffixes=('_first','_second'))

#### Join

Join columns of another DataFrame.

Join columns with other DataFrame either on index or on a key column. Efficiently join multiple DataFrame objects by index at once by passing a list.

In [ ]:
df1 = pd.DataFrame({
    "city": ["new york","chicago","orlando"],
    "temperature": [21,14,35],
})
df1

In [ ]:
df1 = pd.DataFrame({
    "city1": ["new york","chicago","orlando"],
    "temperature": [21,14,35]
})
df1.set_index('city',inplace=True)
df1

In [ ]:
df2 = pd.DataFrame({
    "city": ["chicago","new york","orlando","jsxhj"],
    "humidity": [65,68,75]
})
#df2.set_index('city',inplace=True)
df2

In [ ]:
df1.join(df2)

#### Concatenating
In order to concat dataframe, we use concat() function which helps in concatenating a dataframe.
We can concat a dataframe in many different ways, they are:

In [ ]:
# importing pandas module
import pandas as pd 
 
# Define a dictionary containing employee data 
data1 = {'Name':['Jai', 'Princi', 'Gaurav', 'Anuj','Ijas'], 
        'Age':[27, 24, 22, 32,50] ,
        'Address':['Nagpur', 'Kanpur', 'Allahabad', 'Kannuaj','Kerala'], 
        'Qualification':['Msc', 'MA', 'MCA', 'Phd','Btech']} 
   
# Define a dictionary containing employee data 
data2 = {'Name':['Abhi', 'Ayushi', 'Dhiraj', 'Hitesh','Ijas'], 
        'Age':[17, 14, 12, 52,50], 
        'Address':['Nagpur', 'Kanpur', 'Allahabad', 'Kannuaj','Tamil Nadu'], 
        'Qualification':['Btech', 'B.A', 'Bcom', 'B.hons','Btech']}

In [ ]:
# Convert the dictionary into DataFrame  
df = pd.DataFrame(data1,index=[0, 1, 2, 3,4])
 
# Convert the dictionary into DataFrame  
df1 = pd.DataFrame(data2, index=[5, 6, 7,8,9])

print(df, "\n\n", df1)

In [ ]:
# Now apply .concat function in order to concat two dataframe

# using a .concat() method
frames = [df, df1]
 
res1 = pd.concat(frames)
res1

#### Drop Duplicates

In [ ]:
# res1.drop_duplicates()
# res1.drop_duplicates(['Name'],keep='first')


res1.drop_duplicates(['Name'],keep='last')

In [ ]:
res1 = pd.concat(frames,axis=1)
res1

#### Ignore Index

In [ ]:
# Convert the dictionary into DataFrame  
df = pd.DataFrame(data1,index=[0, 1, 2, 3,4])
 
# Convert the dictionary into DataFrame  
df1 = pd.DataFrame(data2, index=[0, 1, 2, 3,4])

print(df, "\n\n", df1)
      
      
res1 = pd.concat([df,df1])
res1

In [ ]:
res1 = pd.concat([df,df1],ignore_index=True)
res1

#### Concatenation And Keys

In [ ]:
res1 = pd.concat([df,df1], keys=["df1", "df2"])
res1

In [ ]:
res1.loc['df2']

In [ ]:
res1.loc['df1']

#### Concatenating DataFrame using .append()

In [ ]:
res = df.append(df1)
res

#### Pandas - Plotting

Pandas uses the plot() method to create diagrams.

We can use Pyplot, a submodule of the Matplotlib library to visualize the diagram on the screen.

Read more about Matplotlib in our Matplotlib Tutorial.

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_csv('data/data.csv')

df.plot()

plt.show()

#### Scatter Plot
Specify that you want a scatter plot with the kind argument:

kind = 'scatter'


A scatter plot needs an x- and a y-axis.

In the example below we will use "Duration" for the x-axis and "Calories" for the y-axis.

Include the x and y arguments like this:

x = 'Duration', y = 'Calories'

In [ ]:
df

In [ ]:
df.plot(kind = 'scatter', x = 'Duration', y = 'Calories')

plt.show()

we can conlude that higher duration means more calories burned.

In [ ]:
df.plot(kind = 'scatter', x = 'Duration', y = 'Maxpulse')

plt.show()

#### Histogram

Use the kind argument to specify that you want a histogram:

kind = 'hist'

* A histogram needs only one column.

* A histogram shows us the frequency of each interval, e.g. how many workouts lasted between 50 and 60 minutes?

* In the example below we will use the "Duration" column to create the histogram:

In [ ]:
df["Duration"].plot(kind = 'hist')

#### Bar Chart

Pandas DataFrame.plot.bar() plots the graph vertically in form of rectangular bars

In [ ]:
df["Duration"].plot(kind = 'bar')

In [ ]:
df = pd.DataFrame({'lab':['A', 'B', 'C'], 'val':[10, 30, 20],'val1':[20, 40, 10]})
print(df)

In [ ]:
#ax = df.plot.bar(x='lab', y='val', rot=0)
df.plot.bar()